/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: #fff;
    padding: 0px 15px;
    height: 70px;
    box-sizing: border-box;
}

.slack-logo {
    width: 100px;
    padding: 10px;
}

.hamburger-icon {
    width: 30px;
    height: 30px;
}

.menu {
    display: none;
}

/*header code goes from here */
header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 25px;
    margin-top: 70px;
}

h1 {

}

header > p {

}

.home-talking {
    width: 100%;
}

.email {
    border: 1px solid lightgray;
    border-radius: 4.5px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

.first-button {
    border: 1px solid black;
    width: 100%;
    background-color: #4630FF;
    color: white;
    border-radius: 3.5px;
    padding: 10px;
}

.btn {
    text-align: center;
}


/*main goes form here*/

main {
    display: flex;
    background-color: #EBEBEB;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 25px;
}

.first-part {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
}

.discover_button {
    background-color: white;
    color: blue;
    width: 100%;
    border: 1px solid blue;
    border-radius: 3.5px;
    padding: 10px;
}

.second-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    font-size: 1px solid #bababa;
    width: 100%;
}

.second-part img {
    width: 45%;
    padding: 35px 0px
}

.company_ticketmaster {
    margin-bottom: 10px;
}


.third-part {
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    text-align: center;
    margin-top: 30px;
}

.third-part :first-child {
    margin-bottom: 0;
}

.sign-in {
    margin-top: 5px;  
}

.format {
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    text-align: center;
}

.format :last-child {
    margin-bottom: 30px;
}


/*foot goes from here*/
.slack-icon {
    width: 25%;
}

.forth-part {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
    margin-bottom: 15px;
}

.list ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    min-width: 110px;
    min-width: 42%;
    box-sizing: border-box;
}

.top {
    font:;
}

.fifth-part {
    display: flex;
    flex-direction: column;
    background-color: #bababa;
}

.reference {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    box-sizing: border-box;
    list-style-type: none;
    padding: 0 25px;
}

.flag {
    width: 7%;
}

.sixth-part {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sixth-part > span {
    margin: 0 3%;
}

.sns-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 2%;
}

.fab {
    margin: 0 5px;

}

@media (min-width: 767px) {
  header {
      padding: 0px 30px;
      width: 100%;
  }
  h1 {
      font-size: 50px;
  }

  header > p {
      font-size: 25px;
      margin-top: 0px;
      letter-spacing: 1px;
  }
  .header-format {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        height: 50px;
  }
  .email {
    width: 45%;
    margin-right: 2%;
    margin-bottom: 0
  }
  .first-button {
    width: 20%;
  }

  .sign-in {
      display: flex;
      align-items: flex-start;
      font-size: 15px;
      margin-top: 15px;

  }

  .home-talking {
      width: 55%;
      margin: auto;
      margin-top: 15px;
  }

  .discover {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

  }

  .discover_button {
      margin: auto;
      width: 25%;
      height: 50px;
  }

  h2 {
    font-size: 36px;
  }

  .first-part > p {
    font-size: 23px;
    text-align: start;
    margin: auto;
    padding: 5px 10px;
  }
  
  .second-part {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }

  .second-part img {
    display: flex;
    box-sizing: border-box;
    padding: 25px 16px;
    margin: auto;
    max-width: 35%;
  }

  .company_oracle {
    padding-bottom: 10px;
  }

  .company_ticketmaster {
    padding-bottom: 10px;
  }

  .second-part hr {
      display: none;
  }
  .get-started {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 23px 0;
  }

  .third-part {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 33%;
    margin-top: 0;
  }
 
  .try-it {
    font-weight: bold;
    font-size: 23px;
  }

  .format :last-child {
    margin-bottom: 0;
  }

  .format {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      height: 50px;
  }

}


@media (min-width: 960px) {
    .hamburger-icon {
        display: none;
    }
    .menu {
        display: flex;
        align-items: center;
    }
    .menu > p {
        margin-right: 10px;
    }
    .menu > div {
        border: 1px solid black;
        border-radius: 3.5px;
        padding: 5px 10px;
    }
    .menu > div > p {
        margin: 0;
    }
}